<div class="container centered">
  <h1>New Meeting</h1>

  <%= render 'form', meeting: @meeting %>

  <%= link_to 'Back', root_path %>
</div>

<%= month_calendar events: @meetings do |date, meetings| %> 
  <%= date.strftime("%d") %>

  <% meetings.each do |meeting| %> 
    <div class="meeting-room-<%=meeting.room.id%>">
      <%= meeting.room.name %> 
      booked by <%= (meeting.user.name != nil) ? meeting.user.name : meeting.user.email %>
      from <%= meeting.start %> to <%= meeting.end %> 
    </div> 
  <% end %> 
<% end %> 
