<div class="container">
  <div class="centered">
    <h1>Happy Fun Conference Rooms!</h1>

    <!-- today view --> 
    <div class="container-fluid centered today-view">
      <% @rooms.each do |room| %>
        <div class="col-md-4 room-listing">
          <h3><%= room.name %></h3>
          <% room.meetings_today.each do |meeting| %>
            <%= meeting.summary %></br>
          <% end %> 
        </div>
      <%end %>
   </div>


    <%= link_to "BOOK A ROOM", new_meeting_path, class: "btn btn-outline-secondary btn-lg book-room-link" %>

  </div>
</div>

<%= month_calendar events: @meetings do |date, meetings| %> 
  <%= date.strftime("%d") %>

  <% meetings.each do |meeting| %> 
    <% if user_signed_in? && (meeting.user == current_user) %> 
      <%= link_to edit_meeting_path(meeting), class: "meeting-link" do %>
        <div class="meeting-room-<%=meeting.room.id%>">
           <%= meeting.room.name %> 
           booked by you (<%= (meeting.user.name != nil) ? meeting.user.name : meeting.user.email %>)
           from <%= meeting.start %> to <%= meeting.end %> 
        </div> 
      <% end%> 
    <% else %> 
      <div class="meeting-room-<%=meeting.room.id%>">
        <%= meeting.room.name %> 
        booked by <%= (meeting.user.name != nil) ? meeting.user.name : meeting.user.email %>
        from <%= meeting.start %> to <%= meeting.end %> 
      </div> 
    <% end %> 
  <% end %> 
<% end %> 
