<!DOCTYPE html>
<html>
  <head>
    <title>HappyFunConferenceRooms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- bootstrap datepicker 
    <link rel="stylesheet" href="/path/to/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    -->

  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container centered body-container">
      <!-- flash messages --> 
      <%= render "layouts/flash_messages" if !flash.empty? %> 


       <%= yield %>
    </div>
  </body>
</html>
